#contact_banner{
    background: #F3F6FF;
    padding: 20px 0;
    margin-bottom: 200px;
}
#contact_banner h2{
    font-size: 32px;
    margin-bottom: 30px;
}
#contact_banner .banner_left{
    width: 50%;
}
#contact_banner .banner_right{
    width: 50%;
}


/** Contact Banner Responsiveness **/
@media screen and (max-width: 992px) {
    /** Contact banner **/
    #contact_banner .banner_container{
        display: block;
    }
    #contact_banner .banner_container .banner_left,#contact_banner  .banner_container .banner_right{
        width: 100%;
    }


    /** Contact Banner **/
    #contact_location_section{
        display: block;
    }
    #contact_location_section .location_right, #contact_location_section .location_left{
        width: 100%!important;
        padding-bottom: 30px;
    }

    #contact_banner .banner_container .banner_right #consultation_form .form-container{
        max-width: 100%;
        margin-top: 50px;
    }
}