#contact_location_section .location_left{
    width: 50%;
}
#contact_location_section .location_right{
    width: 50%;
}
#contact_location_section .location_right span{
    color: var(--primary-color);
    font-size: 20px;
}

#contact_location_section .social-icons {
    display: flex;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 30px;
  }
  
  #contact_location_section .icon-item {
    background-color: #f3f4f6;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: background-color 0.3s;
  }
  
  #contact_location_section .icon-item a {
    color: #2c3e50;
    font-size: 20px;
    text-decoration: none;
  }
  
  #contact_location_section .icon-item:hover {
    background-color: #e2e6ea;
  }
  
  .deep_dark .icon-item{
    background: #161b29!important;
  }