/** Newsletter Section **/
#newsletter .container{
    background: #F3F6FF;
    padding: 60px 20px;
    border-radius: 10px;
}

.body_style #newsletter .container{
    background: #222330!important;
}


#newsletter .newsletter_mobile_text{
    display: none;
}
#newsletter .heading{
    width: 50%;
}
#newsletter .form input[type="email"]{
    padding: 16px 35px;
    border: 1px solid #D4D7E5;
    font-size: 18px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #B4B7C9;
}
.body_style #newsletter .form input[type="email"]{
    background: #2d2e3b;
    border-color: #414352;
}
#newsletter .form{
    width: 50%;
    display: flex;
    justify-content: end;
    padding-right: 30px;
}
#newsletter .form input[type="email"]:focus{
    outline: none;
}
#newsletter .form input[type="submit"]{
    background-color: var(--primary-color);
    color: #fff;
    padding: 18px 20px;
    border: none;
    font-size: 16px;
    margin-left: -4px;
}
#newsletter .form .input_group{
    position: relative;
}
#newsletter .form .input_group .icon{
    position: absolute;
    top: 54%;
    transform: translateY(-50% );
    left: 9px;
    font-size: 20px;
    color: #B4B7C9;
}
