/** Header Design **/
.body_style #header .menu ul li a{
    color: #fff!important;
}

#header .header_top{
    padding: 25px 0;
}
#header .header_left{
    width: 60%;
}
#header .header_right .mobile_menu_icon{
    display: none;
}
#header .header_left .menu{
    margin-top: -3px;
}
#header .header_left .menu ul .nav_link{
    color: #000;
    font-weight: 500;
}
#header .header_left .darkMenu .nav_link{
    color: #fff!important;
}
#header .header_left .menu ul .nav_link.active{
    color: var(--primary-color)!important;
}

#header .header_right{
    width: 40%;
}



.toggle-container label {
    font-size: 16px;
    color: #4a4a4a;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b3b3b3;
    transition: 0.4s;
    border-radius: 26px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

input:checked + .slider {
    background-color: #6366F1;
}

input:checked + .slider:before {
    transform: translateX(24px);
}
.bg_primary{
    background: #F3F6FF;
}